/* smaller device */
@media screen and (max-width:426px) {
    html {
        font-size: 16px; /* small স্ক্রিনের জন্য */
    }
    .nav-main{
        flex-direction: column;
        align-items: center;
    }
    .banner-main{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}
/* medium device */
@media screen and (min-width:427px) and (max-width:768px){
    html {
        font-size: 20px; /*  midium স্ক্রিনের জন্য */
    }
    .nav-main{
        flex-direction: column;
        align-items: center;
    }
    .banner-main{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
}